HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# Maven / Gradle folders
target/
build/

# Eclipse / IntelliJ / VSCode project files
/.idea/
/*.iml
/.vscode/
/*.ipr
/*.iws
/.classpath
/.project

# Spring Boot specific
spring.log

# SQLite DB local file
*.db
